<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{includes/partials :: head}"></div>
  <body>
    <div th:replace="~{includes/navbar :: nav}"></div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="d-flex justify-content-between">
                    <h3 class="mt-5 mb-2 mx-2">Todo-Lists</h3>
                    <span class="mt-5 mb-2">
                        <a th:href="@{/todos/add}" class="btn btn-primary">
                            <i class="fa-solid fa-plus"></i>Add
                        </a>
                    </span>
                </div>
         <!--       <th:block th:each="todo : ${todos}"> -->
                    <div class="card">
                        <div class="card-body">
                        	<div class="col-12">
                            	<div class="d-flex justify-content-between align-items-center">
                                    <span>Default</span>
                                    <ul class="d-flex gap-3 list-unstyled">
                                        <li>
                                            <a href="#" class="btn btn-warning">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-danger">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
     <!--        </th:block>  --> 
            </div>
        </div>
    <div th:replace="~{includes/partials :: footer}"></div>
  </body>
</html>