<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{includes/partials :: head}"></div>
  <body>
    <div th:replace="~{includes/navbar :: nav}"></div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="d-flex justify-content-between">
                    <h3 class="mt-5 mb-2 mx-2">Todo-Lists</h3>
                    <span class="mt-5 mb-2">
                        <a th:href="@{/todos/add}" class="btn btn-primary">
                            <i class="fa-solid fa-plus"></i>Add
                        </a>
                    </span>
                </div>
                <table class="col-12">
                	<thead>
                		<tr class="text-center">
                			<th>ID</th>
                			<th>タイトル</th>
                			<th>コメント</th>
                			<th>日付</th>
                		</tr>
                	</thead>
                	<tbody>
                		<tr th:each="todo : ${todoList}" class="text-center">
                			<td th:text="${todo.id}"></td>
                			<td th:text="${todo.title}"></td>
                			<td th:text="${todo.comment}"></td>
                			<td th:text="${todo.date}"></td>
                			<td>
                				<ul class="d-flex justify-content-end align-content-center gap-3 list-unstyled">
                                        <li>
                                            <a href="#" class="btn btn-success">
                                                <i class="fa-solid fa-check"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-warning">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-danger">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </li>
                                    </ul>
                			</td>
                		</tr>
                	</tbody>
                </table>
            </div>
        </div>
    <div th:replace="~{includes/partials :: footer}"></div>
  </body>
</html>