<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.todo.repositories.TodoMapper">
    <!-- SQLを書く場所 -->
    <resultMap id="todoResultMap" type="com.java.todo.models.Todo">
    	<id property="id" column="id"/>
    	<result property="title" column="title"/>
    	<result property="comment" column="comment"/>
    	<result property="todoDate" column="todo_date"/>
	</resultMap>
    <select id="selectTodo"
    		resultType="com.java.todo.models.Todo">
    	SELECT
    		id,
    		title,
    		comment,
    		todo_date AS todoDate,
    		completed
    	FROM todos
    	ORDER BY id DESC
    		
    </select>
    <insert id="insertTodo"
    		parameterType="com.java.todo.models.Todo"
    		useGeneratedKeys="true"
    		keyProperty="id">
    		
    		INSERT INTO todos (
    			title,
    			comment,
    			todo_date
    		)
    		VALUES (
    			#{title},
    			#{comment},
    			#{todoDate}
    		);
    </insert>
    
    <update id="updateCompleted">
    	UPDATE todos
    	SET completed = TRUE
    	WHERE id = #{id}
    </update>
    
    <delete id="deleteTodo">
    	DELETE FROM 
    			todos
    	WHERE id = #{id}
    </delete>
</mapper>